# [Guiding Notebook] Data Cleaning with Python Project

## 1. Defining the Question

### a) Specifying the Data Analysis Question

Specify the reasearch question that you'll be answering.

Primary Research Questions:

1. Which bus companies had the highest breakdowns?
2. What were the top 3 reasons for bus delays?
3. How many students were on the buses when they broke down?
4. What were the most frequent reasons for bus breakdowns?
5. What were the most frequent reasons for the bus running late?
6. What was the average delay time for each reason type?

Additional Questions: 7. Are there specific times of the day or days of the week when breakdowns and delays occur most frequently? 8. Is there a seasonal trend in bus breakdowns or delays? 9. Are certain neighborhoods or routes more prone to breakdowns and delays? 10. Do specific bus companies dominate in terms of delay durations or frequency of incidents?

### b) Defining the Metric for Success

How will you know that your solution will have satisfied your research question?

 Success will be measured by our ability to extract actionable insights and provide recommendations that reduce the frequency and impact of bus breakdowns and delays.

### c) Understanding the context

The Bus Breakdown and Delay system is a real-time data collection platform used by school bus vendors in New York City. This system tracks breakdowns, delays, and other service disruptions, providing valuable data for identifying inefficiencies and areas for improvement in bus operations.

The significance of the analysis lies in:

1. Enhancing the reliability of bus services for students.
2. Reducing delays and breakdowns, improving safety and parent satisfaction.
3. Supporting decision-making for bus vendors and the city's transportation authorities.

### d) Recording the Experimental Design

To address the research questions, I will proceed with the following steps:

Step 1: Defining the Metric for Success
- Success will be measured by our ability to extract actionable insights and provide recommendations that reduce the frequency and impact of bus breakdowns and delays.

Step 2: Data Understanding
Review the dataset for an overview of key fields like:
- Bus company names.
- Reason for delay or breakdown.
- Date, time, and location of incidents.
- Number of students affected.
- Delay durations.
- Perform exploratory data analysis (EDA) to identify patterns, distributions, and anomalies.

Step 3: Data Cleaning
- Handle missing, inconsistent, or duplicate data entries.
- Standardize data formats (e.g., time, location, and categorical variables).
- Ensure numerical values (e.g., delay durations) are in appropriate units.

Step 4: Data Analysis
- Use descriptive statistics to summarize key metrics.
- Identify patterns using visualizations (e.g., bar charts, heatmaps, and line plots).
- Answer the research questions through detailed analysis:
- Top breakdown companies: Aggregate breakdown counts by company.
- Reasons for delays: Categorize and rank delay reasons.
- Student impact: Analyze breakdown incidents and affected student counts.
- Delay duration analysis: Calculate average delays by reason type.

Step 5: Experimental Design
- Define control variables (e.g., time of day, location) for deeper analysis.
- Use clustering techniques to group routes or companies with similar issues.

Step 6: Data Visualization
- Use tools like Matplotlib, Seaborn, or Plotly for creating impactful visualizations.

Step 7: Recommendations
- Provide targeted recommendations based on findings, e.g.:
- Vendor-specific training programs.
- Preventive maintenance schedules.
- Improved communication systems.

### e) Data Relevance

The provided dataset appears highly relevant, as it directly records incidents and delays logged by bus vendors. However, its utility depends on:

- Completeness: Does the dataset capture all incidents or only partial data?
- Accuracy: Are reasons for delays and breakdowns consistently recorded?
- Coverage: Does the data cover all bus companies, routes, and time periods?

### d) Deliverables

- A detailed analysis report answering the research questions.
- Visualizations illustrating key trends and insights.
- Recommendations aimed at reducing bus breakdowns and delays.

## 2. Reading the Data

In [2]:
# Importing our libraries
# ---
import pandas as pd
import numpy as np

In [3]:
# Load the data below
# ---
# Dataset url = https://bit.ly/BusBreakdownDataset
# ---
#
df = pd.read_csv('https://bit.ly/BusBreakdownDataset')

In [4]:
# Checking the first 5 rows of data
# ---
#
df.head()

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
0,2015-2016,1227538,Special Ed AM Run,2621,J711,Heavy Traffic,75003,11/05/2015 08:10:00 AM,11/05/2015 08:12:00 AM,New Jersey,...,NaN,11,Yes,No,Yes,11/05/2015 08:12:00 AM,NaN,11/05/2015 08:12:14 AM,Running Late,School-Age
1,2015-2016,1227539,Special Ed AM Run,1260,M351,Heavy Traffic,06716,11/05/2015 08:10:00 AM,11/05/2015 08:12:00 AM,Manhattan,...,20MNS,2,Yes,Yes,No,11/05/2015 08:12:00 AM,NaN,11/05/2015 08:13:34 AM,Running Late,School-Age
2,2015-2016,1227540,Pre-K/EI,418,3,Heavy Traffic,C445,11/05/2015 08:09:00 AM,11/05/2015 08:13:00 AM,Bronx,...,15MIN,8,Yes,Yes,Yes,11/05/2015 08:13:00 AM,NaN,11/05/2015 08:13:22 AM,Running Late,Pre-K
3,2015-2016,1227541,Special Ed AM Run,4522,M271,Heavy Traffic,02699,11/05/2015 08:12:00 AM,11/05/2015 08:14:00 AM,Manhattan,...,15 MIN,6,No,No,No,11/05/2015 08:14:00 AM,NaN,11/05/2015 08:14:04 AM,Running Late,School-Age
4,2015-2016,1227542,Special Ed AM Run,3124,M373,Heavy Traffic,02116,11/05/2015 08:13:00 AM,11/05/2015 08:14:00 AM,Manhattan,...,NaN,6,No,No,No,11/05/2015 08:14:00 AM,NaN,11/05/2015 08:14:08 AM,Running Late,School-Age

In [5]:
# Checking the last 5 rows of data
# ---
#
df.tail()

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
281105,2016-2017,1338452,Pre-K/EI,9345,2,Heavy Traffic,C530,04/05/2017 08:00:00 AM,04/05/2017 08:10:00 AM,Bronx,...,15-20,7,Yes,Yes,No,04/05/2017 08:10:00 AM,NaN,04/05/2017 08:10:15 AM,Running Late,Pre-K
281106,2016-2017,1341521,Pre-K/EI,0001,5,Heavy Traffic,C579,04/24/2017 07:42:00 AM,04/24/2017 07:44:00 AM,Bronx,...,20 MINS,0,Yes,Yes,No,04/24/2017 07:44:00 AM,NaN,04/24/2017 07:44:15 AM,Running Late,Pre-K
281107,2016-2017,1353044,Special Ed PM Run,GC0112,X928,Heavy Traffic,09003,05/25/2017 04:22:00 PM,05/25/2017 04:28:00 PM,Bronx,...,20-25MINS,0,Yes,Yes,Yes,05/25/2017 04:28:00 PM,90323827,05/25/2017 04:34:36 PM,Running Late,School-Age
281108,2016-2017,1353045,Special Ed PM Run,5525D,Q920,Won`t Start,24457,05/25/2017 04:27:00 PM,05/25/2017 04:30:00 PM,Queens,...,NaN,0,Yes,Yes,No,05/25/2017 04:30:00 PM,NaN,05/25/2017 04:30:07 PM,Breakdown,School-Age
281109,2016-2017,1353046,Project Read PM Run,2530,K617,Other,21436,05/25/2017 04:36:00 PM,05/25/2017 04:37:00 PM,Brooklyn,...,45min,7,Yes,Yes,Yes,05/25/2017 04:37:00 PM,NaN,05/25/2017 04:37:37 PM,Running Late,School-Age

In [6]:
# Sample 10 rows of data
# ---
#
df.sample(10)

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
215133,2017-2018,1401153,Special Ed AM Run,GT1487,Y886,Heavy Traffic,"08146,08410,08498",01/09/2018 06:45:00 AM,01/09/2018 06:47:00 AM,NaN,...,0-15 Min,0,Yes,Yes,Yes,01/09/2018 06:47:00 AM,NaN,01/01/1900 12:00:00 AM,Running Late,School-Age
208752,2017-2018,1400941,Special Ed AM Run,1107,X337,Won`t Start,12084,01/08/2018 02:39:00 PM,01/08/2018 02:55:00 PM,Bronx,...,NaN,0,Yes,Yes,No,01/08/2018 02:55:00 PM,NaN,01/01/1900 12:00:00 AM,Breakdown,School-Age
273036,2016-2017,1289093,Pre-K/EI,418,2,Heavy Traffic,C445,09/28/2016 08:20:00 AM,09/28/2016 08:22:00 AM,Bronx,...,15 MINS,13,Yes,Yes,No,09/28/2016 08:22:00 AM,NaN,09/28/2016 08:22:55 AM,Running Late,Pre-K
56122,2016-2017,1300868,General Ed PM Run,2390,K9529,Late return from Field Trip,15038,11/17/2016 01:16:00 PM,11/17/2016 01:19:00 PM,Brooklyn,...,25 MINS,0,Yes,No,No,11/17/2016 01:19:00 PM,NaN,11/17/2016 01:19:36 PM,Running Late,School-Age
100511,2016-2017,1352662,Special Ed AM Run,2611,K315,Heavy Traffic,16360,05/25/2017 07:15:00 AM,05/25/2017 07:16:00 AM,Brooklyn,...,20-30 min,10,Yes,Yes,No,05/25/2017 07:16:00 AM,NaN,05/25/2017 07:16:56 AM,Running Late,School-Age
27884,2015-2016,1224578,Special Ed AM Run,8003,R055,Heavy Traffic,31061,10/26/2015 06:38:00 AM,10/26/2015 06:42:00 AM,Staten Island,...,20 mins,0,Yes,No,No,10/26/2015 06:42:00 AM,NaN,10/26/2015 06:42:15 AM,Running Late,School-Age
131943,2017-2018,1367727,Special Ed AM Run,10430,M625,Heavy Traffic,"05200,05499",09/15/2017 08:09:00 AM,09/15/2017 08:12:00 AM,Manhattan,...,16-30 Min,5,Yes,Yes,No,09/15/2017 08:12:00 AM,NaN,01/01/1900 12:00:00 AM,Running Late,School-Age
38491,2016-2017,1279003,Special Ed AM Run,5005,W995,Heavy Traffic,75955,07/20/2016 08:06:00 AM,07/20/2016 08:08:00 AM,Brooklyn,...,20mins,4,Yes,Yes,Yes,07/20/2016 08:08:00 AM,NaN,07/20/2016 08:08:31 AM,Running Late,School-Age
157559,2017-2018,1381927,Special Ed AM Run,10448,Q358,Heavy Traffic,"26481,26817,26918",10/30/2017 07:20:00 AM,10/30/2017 07:27:00 AM,Queens,...,16-30 Min,2,Yes,Yes,No,10/30/2017 07:27:00 AM,NaN,01/01/1900 12:00:00 AM,Running Late,School-Age
36172,2015-2016,1276139,Special Ed AM Run,5846D,X599,Mechanical Problem,07449,06/21/2016 06:33:00 AM,06/21/2016 07:13:00 AM,Bronx,...,NaN,1,Yes,Yes,No,06/21/2016 07:13:00 AM,NaN,06/21/2016 07:13:31 AM,Breakdown,School-Age

In [7]:
# Checking number of rows and columns
# ---
#
df.shape

(281110, 21)

In [8]:
# Checking datatypes
# ---
#
df.dtypes

School_Year                        object
Busbreakdown_ID                     int64
Run_Type                           object
Bus_No                             object
Route_Number                       object
Reason                             object
Schools_Serviced                   object
Occurred_On                        object
Created_On                         object
Boro                               object
Bus_Company_Name                   object
How_Long_Delayed                   object
Number_Of_Students_On_The_Bus       int64
Has_Contractor_Notified_Schools    object
Has_Contractor_Notified_Parents    object
Have_You_Alerted_OPT               object
Informed_On                        object
Incident_Number                    object
Last_Updated_On                    object
Breakdown_or_Running_Late          object
School_Age_or_PreK                 object
dtype: object

Record your observations below:

*   Observation 1 There are 21 columns
*   Observation 2 The data types are object and unteger

## 3. External Data Source Validation

You can make sure your data matches other credible information. This ensures that the measurements are roughly in line with what they should be and it serves as a check on what other things might be wrong in your dataset.

External validation can often be as simple as checking your data against some other data i.e. country population your dataset with country population on world bank data.

Replace the text found on this text cell with your external data source validation information.

## 4. Data Preparation

### Performing Data Cleaning

In [ ]:
# Checking datatypes and missing entries of all the variables
# ---
#

We observe the following from our dataset:

*   Observation 1
*   Observation 2

In [ ]:
# Standardizing your dataset i.e. variable renaming
# ---
#

We observe the following from our dataset:

*   Observation 1
*   Observation 2

In [ ]:
# Checking how many duplicate rows are there in the data
# ---
#

We observe the following from our dataset:

*   Observation 1
*   Observation 2

In [ ]:
# Checking if any of the columns are all null
# ---
#

We observe the following from our dataset:

*   Observation 1
*   Observation 2

In [ ]:
# Checking if any of the rows are all null
# ---
#

We observe the following from our dataset:

*   Observation 1
*   Observation 2

In [ ]:
# Checking if the "Yes/No" fields contain only these 2 values
# for have_you_alerted_opt variable
# ---
# Hint: Use unique() function
#

We observe the following from our dataset:

*   Observation 1
*   Observation 2

In [ ]:
# Checking if the "Yes/No" fields contain only these 2 values
# for has_contractor_notified_parents variable
# ---
#

We observe the following from our dataset:

*   Observation 1
*   Observation 2

In [ ]:
# Checking if the "Yes/No" fields contain only these 2 values
# for has_contractor_notified_schools variable
# ---
#

We observe the following from our dataset:

*   Observation 1
*   Observation 2

In [ ]:
# Checking unique values in break_down_or_running_late variable to ensure there is no duplication
# ---
#

In [ ]:
# Checking unique values in school_age_or_prek variable
# ---
#

In [ ]:
# Checking unique values in school_year variable
# ---
#

In [ ]:
# Checking unique values in reason variable
# ---
#

In [ ]:
# Checking unique values in run_type variable
# ---
#

In [ ]:
# Checking unique values in boro variable
# ---
#

### Overall Data Cleaning Observations
**Missing Values**

- There are a large number of missing values in the fields "How_Long_Delayed" which is important to our analysis.
- There is an extremely large number of missing values in the "Incident_number" field but this is not incidental to our analysis and cannot be filled in without additional information.

**Error in values**

- "How_Long_Delayed" contains string values such as "MINS" or "mins" and a range of values, which needs to be changed to single integer value for our analysis.

**Error in Datatypes**

- "How_Long_Delayed" is a string datatype, should be converted to integer type.

**Error in field names**
- The column name "Boro" should be renamed to "Borough".

### Next Steps: Data Cleaning Steps

**Error in values**

- Extract the first integer value (lowest delay time) in the column "How_Long_Delayed"


**Missing Values**

- Impute the missing values in the field "How_Long_Delayed" with the mean value.


**Error in Datatypes**

- Convert "How_Long_Delayed" to int datatype.



**Error in field names**

- Rename the column "Boro" to "Borough".

In [ ]:
# Lets first start by creating a copy of our dataframe
# df_clean = df.copy(). We will use this copy as our cleaning copy.
# ---
#
df_clean = df.copy()
df_clean.head()

In [ ]:
# Then extracting the lowest delay time in the column how_long_delayed from the string
#
df_clean['how_long_delayed'] = df_clean['how_long_delayed'].str.extract('(\d+)')
df_clean['how_long_delayed'].head()

We impute the null values in 'how_long_delayed' column with mean of the column. This will take a couple of steps...

In [ ]:
# We first convert our how_long_delayed to float type to allow for imputation
# ---
#

In [ ]:
# Then later perform our mean imputation
# ---
#

In [ ]:
# Then convert back our how_long_delayed column to integer datatype
# ---
#

In [ ]:
# Then check for nulls in the column
# ---
#

In [ ]:
# Rename Boro column to Borough
# ---
#

In [ ]:
# Lastly we convert all values in our colums to lower case
# for ease of reading
# ---
#

In [ ]:
# Check the first 5 record the cleaned dataset
# ---
#
df_clean.head()


## 5. Solution Implementation

Here we investigate the questions that would help craft our recommendations.

### 5.a) Questions

In [ ]:
# 1. Which bus companies that had the highest breakdowns?
# ---
#
breakdowns = df_clean.groupby(['bus_company_name']).count()

# Sort to get bus company with highest breakdowns
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# 2. What were the top 3 reasons for bus delays?
# ---
#
bus_delay = df_clean.groupby(['reason']).count()[['how_long_delayed']].reset_index()

# Sort to get the most frequent reason
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# 3. How many students were in the buses when they broke down?
# ---
#
df_clean.groupby(['number_of_students_on_the_bus']).count()[['busbreakdown_id']].reset_index()

In [ ]:
# 4. Which were most frequent reasons for bus breakdowns?
# ---
#
breakdown_reasons = df_clean[df_clean.breakdown_or_running_late == 'breakdown'].groupby(['reason']).count()

# Sort to get most frequent reasons
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# 5. What were the most frequent reasons for the bus running late?
# ---
#
reasons = df_clean.groupby(['reason','how_dong_delayed']).count()

# Get the records with running late reasons and sort to get most frequent reasons
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# 6. What was the average delay time for each reason type?
# ---
#
avg_delay = df_clean.groupby('reason').mean().reset_index()

# Get the records with reasons and how long on average a delay took then sort
# ---
# YOUR CODE GOES BELOW
#

### 5.b) Recommendations

From the above analysis, below are our recommendations:

1.   
2.

## 6. Challenging your Solution

During this step, we review our solution and implement  approaches that could potentially provide a better outcome. In our case, we could propose the following question that wasn't answered in our solution because it couldn't have greatly contributed to our recommendation.

In [ ]:
# Which boroughs experienced the most breakdowns?
# ---
#
breakdowns = df_clean.groupby(['borough']).count()

# Sort to get bus company with highest breakdowns
# ---
# YOUR CODE GOES BELOW
#

Our observations:

1.   
2.  


How does this observation tie to our solution?

## 7. Follow up questions

During this step, you rethink and propose other ways that you can improve your solution.

### a). Did we have the right data?

### b). Do we need other data to answer our question?

You can look into the questions you brainstormed that you weren't taken into account during analysis due to a lack of data. Were those questions important to have been left out  of your analysis?

### c). Did we have the right question?

Were there any other questions that we needed to have answered?