# [Guiding Notebook] Data Cleaning with Python Project

## 1. Defining the Question

### a) Specifying the Data Analysis Question

Specify the reasearch question that you'll be answering.

Primary Research Questions:

1. Which bus companies had the highest breakdowns?
2. What were the top 3 reasons for bus delays?
3. How many students were on the buses when they broke down?
4. What were the most frequent reasons for bus breakdowns?
5. What were the most frequent reasons for the bus running late?
6. What was the average delay time for each reason type?

Additional Questions: 7. Are there specific times of the day or days of the week when breakdowns and delays occur most frequently? 8. Is there a seasonal trend in bus breakdowns or delays? 9. Are certain neighborhoods or routes more prone to breakdowns and delays? 10. Do specific bus companies dominate in terms of delay durations or frequency of incidents?

### b) Defining the Metric for Success

How will you know that your solution will have satisfied your research question?

 Success will be measured by our ability to extract actionable insights and provide recommendations that reduce the frequency and impact of bus breakdowns and delays.

### c) Understanding the context

The Bus Breakdown and Delay system is a real-time data collection platform used by school bus vendors in New York City. This system tracks breakdowns, delays, and other service disruptions, providing valuable data for identifying inefficiencies and areas for improvement in bus operations.

The significance of the analysis lies in:

1. Enhancing the reliability of bus services for students.
2. Reducing delays and breakdowns, improving safety and parent satisfaction.
3. Supporting decision-making for bus vendors and the city's transportation authorities.

### d) Recording the Experimental Design

To address the research questions, I will proceed with the following steps:

Step 1: Defining the Metric for Success
- Success will be measured by our ability to extract actionable insights and provide recommendations that reduce the frequency and impact of bus breakdowns and delays.

Step 2: Data Understanding
Review the dataset for an overview of key fields like:
- Bus company names.
- Reason for delay or breakdown.
- Date, time, and location of incidents.
- Number of students affected.
- Delay durations.
- Perform exploratory data analysis (EDA) to identify patterns, distributions, and anomalies.

Step 3: Data Cleaning
- Handle missing, inconsistent, or duplicate data entries.
- Standardize data formats (e.g., time, location, and categorical variables).
- Ensure numerical values (e.g., delay durations) are in appropriate units.

Step 4: Data Analysis
- Use descriptive statistics to summarize key metrics.
- Identify patterns using visualizations (e.g., bar charts, heatmaps, and line plots).
- Answer the research questions through detailed analysis:
- Top breakdown companies: Aggregate breakdown counts by company.
- Reasons for delays: Categorize and rank delay reasons.
- Student impact: Analyze breakdown incidents and affected student counts.
- Delay duration analysis: Calculate average delays by reason type.

Step 5: Experimental Design
- Define control variables (e.g., time of day, location) for deeper analysis.
- Use clustering techniques to group routes or companies with similar issues.

Step 6: Data Visualization
- Use tools like Matplotlib, Seaborn, or Plotly for creating impactful visualizations.

Step 7: Recommendations
- Provide targeted recommendations based on findings, e.g.:
- Vendor-specific training programs.
- Preventive maintenance schedules.
- Improved communication systems.

### e) Data Relevance

The provided dataset appears highly relevant, as it directly records incidents and delays logged by bus vendors. However, its utility depends on:

- Completeness: Does the dataset capture all incidents or only partial data?
- Accuracy: Are reasons for delays and breakdowns consistently recorded?
- Coverage: Does the data cover all bus companies, routes, and time periods?

### d) Deliverables

- A detailed analysis report answering the research questions.
- Visualizations illustrating key trends and insights.
- Recommendations aimed at reducing bus breakdowns and delays.

## 2. Reading the Data

In [2]:
# Importing our libraries
# ---
import pandas as pd
import numpy as np

In [3]:
# Load the data below
# ---
# Dataset url = https://bit.ly/BusBreakdownDataset
# ---
#
df = pd.read_csv('https://bit.ly/BusBreakdownDataset')

In [4]:
# Checking the first 5 rows of data
# ---
#
df.head()

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
0,2015-2016,1227538,Special Ed AM Run,2621,J711,Heavy Traffic,75003,11/05/2015 08:10:00 AM,11/05/2015 08:12:00 AM,New Jersey,...,NaN,11,Yes,No,Yes,11/05/2015 08:12:00 AM,NaN,11/05/2015 08:12:14 AM,Running Late,School-Age
1,2015-2016,1227539,Special Ed AM Run,1260,M351,Heavy Traffic,06716,11/05/2015 08:10:00 AM,11/05/2015 08:12:00 AM,Manhattan,...,20MNS,2,Yes,Yes,No,11/05/2015 08:12:00 AM,NaN,11/05/2015 08:13:34 AM,Running Late,School-Age
2,2015-2016,1227540,Pre-K/EI,418,3,Heavy Traffic,C445,11/05/2015 08:09:00 AM,11/05/2015 08:13:00 AM,Bronx,...,15MIN,8,Yes,Yes,Yes,11/05/2015 08:13:00 AM,NaN,11/05/2015 08:13:22 AM,Running Late,Pre-K
3,2015-2016,1227541,Special Ed AM Run,4522,M271,Heavy Traffic,02699,11/05/2015 08:12:00 AM,11/05/2015 08:14:00 AM,Manhattan,...,15 MIN,6,No,No,No,11/05/2015 08:14:00 AM,NaN,11/05/2015 08:14:04 AM,Running Late,School-Age
4,2015-2016,1227542,Special Ed AM Run,3124,M373,Heavy Traffic,02116,11/05/2015 08:13:00 AM,11/05/2015 08:14:00 AM,Manhattan,...,NaN,6,No,No,No,11/05/2015 08:14:00 AM,NaN,11/05/2015 08:14:08 AM,Running Late,School-Age

In [5]:
# Checking the last 5 rows of data
# ---
#
df.tail()

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
281105,2016-2017,1338452,Pre-K/EI,9345,2,Heavy Traffic,C530,04/05/2017 08:00:00 AM,04/05/2017 08:10:00 AM,Bronx,...,15-20,7,Yes,Yes,No,04/05/2017 08:10:00 AM,NaN,04/05/2017 08:10:15 AM,Running Late,Pre-K
281106,2016-2017,1341521,Pre-K/EI,0001,5,Heavy Traffic,C579,04/24/2017 07:42:00 AM,04/24/2017 07:44:00 AM,Bronx,...,20 MINS,0,Yes,Yes,No,04/24/2017 07:44:00 AM,NaN,04/24/2017 07:44:15 AM,Running Late,Pre-K
281107,2016-2017,1353044,Special Ed PM Run,GC0112,X928,Heavy Traffic,09003,05/25/2017 04:22:00 PM,05/25/2017 04:28:00 PM,Bronx,...,20-25MINS,0,Yes,Yes,Yes,05/25/2017 04:28:00 PM,90323827,05/25/2017 04:34:36 PM,Running Late,School-Age
281108,2016-2017,1353045,Special Ed PM Run,5525D,Q920,Won`t Start,24457,05/25/2017 04:27:00 PM,05/25/2017 04:30:00 PM,Queens,...,NaN,0,Yes,Yes,No,05/25/2017 04:30:00 PM,NaN,05/25/2017 04:30:07 PM,Breakdown,School-Age
281109,2016-2017,1353046,Project Read PM Run,2530,K617,Other,21436,05/25/2017 04:36:00 PM,05/25/2017 04:37:00 PM,Brooklyn,...,45min,7,Yes,Yes,Yes,05/25/2017 04:37:00 PM,NaN,05/25/2017 04:37:37 PM,Running Late,School-Age

In [6]:
# Sample 10 rows of data
# ---
#
df.sample(10)

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
215133,2017-2018,1401153,Special Ed AM Run,GT1487,Y886,Heavy Traffic,"08146,08410,08498",01/09/2018 06:45:00 AM,01/09/2018 06:47:00 AM,NaN,...,0-15 Min,0,Yes,Yes,Yes,01/09/2018 06:47:00 AM,NaN,01/01/1900 12:00:00 AM,Running Late,School-Age
208752,2017-2018,1400941,Special Ed AM Run,1107,X337,Won`t Start,12084,01/08/2018 02:39:00 PM,01/08/2018 02:55:00 PM,Bronx,...,NaN,0,Yes,Yes,No,01/08/2018 02:55:00 PM,NaN,01/01/1900 12:00:00 AM,Breakdown,School-Age
273036,2016-2017,1289093,Pre-K/EI,418,2,Heavy Traffic,C445,09/28/2016 08:20:00 AM,09/28/2016 08:22:00 AM,Bronx,...,15 MINS,13,Yes,Yes,No,09/28/2016 08:22:00 AM,NaN,09/28/2016 08:22:55 AM,Running Late,Pre-K
56122,2016-2017,1300868,General Ed PM Run,2390,K9529,Late return from Field Trip,15038,11/17/2016 01:16:00 PM,11/17/2016 01:19:00 PM,Brooklyn,...,25 MINS,0,Yes,No,No,11/17/2016 01:19:00 PM,NaN,11/17/2016 01:19:36 PM,Running Late,School-Age
100511,2016-2017,1352662,Special Ed AM Run,2611,K315,Heavy Traffic,16360,05/25/2017 07:15:00 AM,05/25/2017 07:16:00 AM,Brooklyn,...,20-30 min,10,Yes,Yes,No,05/25/2017 07:16:00 AM,NaN,05/25/2017 07:16:56 AM,Running Late,School-Age
27884,2015-2016,1224578,Special Ed AM Run,8003,R055,Heavy Traffic,31061,10/26/2015 06:38:00 AM,10/26/2015 06:42:00 AM,Staten Island,...,20 mins,0,Yes,No,No,10/26/2015 06:42:00 AM,NaN,10/26/2015 06:42:15 AM,Running Late,School-Age
131943,2017-2018,1367727,Special Ed AM Run,10430,M625,Heavy Traffic,"05200,05499",09/15/2017 08:09:00 AM,09/15/2017 08:12:00 AM,Manhattan,...,16-30 Min,5,Yes,Yes,No,09/15/2017 08:12:00 AM,NaN,01/01/1900 12:00:00 AM,Running Late,School-Age
38491,2016-2017,1279003,Special Ed AM Run,5005,W995,Heavy Traffic,75955,07/20/2016 08:06:00 AM,07/20/2016 08:08:00 AM,Brooklyn,...,20mins,4,Yes,Yes,Yes,07/20/2016 08:08:00 AM,NaN,07/20/2016 08:08:31 AM,Running Late,School-Age
157559,2017-2018,1381927,Special Ed AM Run,10448,Q358,Heavy Traffic,"26481,26817,26918",10/30/2017 07:20:00 AM,10/30/2017 07:27:00 AM,Queens,...,16-30 Min,2,Yes,Yes,No,10/30/2017 07:27:00 AM,NaN,01/01/1900 12:00:00 AM,Running Late,School-Age
36172,2015-2016,1276139,Special Ed AM Run,5846D,X599,Mechanical Problem,07449,06/21/2016 06:33:00 AM,06/21/2016 07:13:00 AM,Bronx,...,NaN,1,Yes,Yes,No,06/21/2016 07:13:00 AM,NaN,06/21/2016 07:13:31 AM,Breakdown,School-Age

In [7]:
# Checking number of rows and columns
# ---
#
df.shape

(281110, 21)

In [8]:
# Checking datatypes
# ---
#
df.dtypes

School_Year                        object
Busbreakdown_ID                     int64
Run_Type                           object
Bus_No                             object
Route_Number                       object
Reason                             object
Schools_Serviced                   object
Occurred_On                        object
Created_On                         object
Boro                               object
Bus_Company_Name                   object
How_Long_Delayed                   object
Number_Of_Students_On_The_Bus       int64
Has_Contractor_Notified_Schools    object
Has_Contractor_Notified_Parents    object
Have_You_Alerted_OPT               object
Informed_On                        object
Incident_Number                    object
Last_Updated_On                    object
Breakdown_or_Running_Late          object
School_Age_or_PreK                 object
dtype: object

Record your observations below:

*   Observation 1 There are 21 columns
*   Observation 2 The data types are object and unteger

## 3. External Data Source Validation

You can make sure your data matches other credible information. This ensures that the measurements are roughly in line with what they should be and it serves as a check on what other things might be wrong in your dataset.

External validation can often be as simple as checking your data against some other data i.e. country population your dataset with country population on world bank data.

Replace the text found on this text cell with your external data source validation information.

## 4. Data Preparation

### Performing Data Cleaning

In [10]:
# Checking datatypes and missing entries of all the variables
# ---
#
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281110 entries, 0 to 281109
Data columns (total 21 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   School_Year                      281110 non-null  object
 1   Busbreakdown_ID                  281110 non-null  int64
 2   Run_Type                         281107 non-null  object
 3   Bus_No                           281101 non-null  object
 4   Route_Number                     281103 non-null  object
 5   Reason                           281108 non-null  object
 6   Schools_Serviced                 281103 non-null  object
 7   Occurred_On                      281110 non-null  object
 8   Created_On                       281110 non-null  object
 9   Boro                             267649 non-null  object
 10  Bus_Company_Name                 281110 non-null  object
 11  How_Long_Delayed                 245502 non-null  object
 12  Number_Of_Students_On_The_Bus    281110 non-null  int64
 13  Has_Contractor_Notified_Schools  281110 non-null  object
 14  Has_Contractor_Notified_Parents  281110 non-null  object
 15  Have_You_Alerted_OPT             281110 non-null  object
 16  Informed_On                      281110 non-null  object
 17  Incident_Number                  9483 non-null    object
 18  Last_Updated_On                  281110 non-null  object
 19  Breakdown_or_Running_Late        281110 non-null  object
 20  School_Age_or_PreK               281110 non-null  object
dtypes: int64(2), object(19)
memory usage: 45.0+ MB

School_Year                             0
Busbreakdown_ID                         0
Run_Type                                3
Bus_No                                  9
Route_Number                            7
Reason                                  2
Schools_Serviced                        7
Occurred_On                             0
Created_On                              0
Boro                                13461
Bus_Company_Name                        0
How_Long_Delayed                    35608
Number_Of_Students_On_The_Bus           0
Has_Contractor_Notified_Schools         0
Has_Contractor_Notified_Parents         0
Have_You_Alerted_OPT                    0
Informed_On                             0
Incident_Number                    271627
Last_Updated_On                         0
Breakdown_or_Running_Late               0
School_Age_or_PreK                      0
dtype: int64

We observe the following from our dataset:

*   Observation 1 There are some missing values
*   Observation 2

In [12]:
# Standardizing your dataset i.e. variable renaming
# ---
#
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
print(df.columns)

Index(['school_year', 'busbreakdown_id', 'run_type', 'bus_no', 'route_number',
       'reason', 'schools_serviced', 'occurred_on', 'created_on', 'boro',
       'bus_company_name', 'how_long_delayed', 'number_of_students_on_the_bus',
       'has_contractor_notified_schools', 'has_contractor_notified_parents',
       'have_you_alerted_opt', 'informed_on', 'incident_number',
       'last_updated_on', 'breakdown_or_running_late', 'school_age_or_prek'],
      dtype='object')

We observe the following from our dataset:

*   Observation 1 The columns names were not standardized
*   Observation 2

In [16]:
# Checking how many duplicate rows are there in the data
# ---
#
duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

duplicate_rows = df[df.duplicated()]
print(duplicate_rows)

Number of duplicate rows: 0
Empty DataFrame
Columns: [school_year, busbreakdown_id, run_type, bus_no, route_number, reason, schools_serviced, occurred_on, created_on, boro, bus_company_name, how_long_delayed, number_of_students_on_the_bus, has_contractor_notified_schools, has_contractor_notified_parents, have_you_alerted_opt, informed_on, incident_number, last_updated_on, breakdown_or_running_late, school_age_or_prek]
Index: []

[0 rows x 21 columns]

We observe the following from our dataset:

*   Observation 1 There are no duplicated rows
*   Observation 2

In [20]:
# Checking if any of the columns are all null
# ---
#
df.isnull().all()

school_year                        False
busbreakdown_id                    False
run_type                           False
bus_no                             False
route_number                       False
reason                             False
schools_serviced                   False
occurred_on                        False
created_on                         False
boro                               False
bus_company_name                   False
how_long_delayed                   False
number_of_students_on_the_bus      False
has_contractor_notified_schools    False
has_contractor_notified_parents    False
have_you_alerted_opt               False
informed_on                        False
incident_number                    False
last_updated_on                    False
breakdown_or_running_late          False
school_age_or_prek                 False
dtype: bool

We observe the following from our dataset:

*   Observation 1 none of the columns is completely null
*   Observation 2

In [21]:
# Checking if any of the rows are all null
# ---
#
df.isnull().all(axis=1)

0         False
1         False
2         False
3         False
4         False
          ...
281105    False
281106    False
281107    False
281108    False
281109    False
Length: 281110, dtype: bool

We observe the following from our dataset:

*   Observation 1 None of the rows is copmletely null
*   Observation 2

In [22]:
# Checking if the "Yes/No" fields contain only these 2 values
# for have_you_alerted_opt variable
# ---
# Hint: Use unique() function
#
df.have_you_alerted_opt.unique()

array(['Yes', 'No'], dtype=object)

We observe the following from our dataset:

*   Observation 1  The "Yes/No" fields contain only these 2 values for have_you_alerted_opt variable
*   Observation 2

In [23]:
# Checking if the "Yes/No" fields contain only these 2 values
# for has_contractor_notified_parents variable
# ---
#
df.has_contractor_notified_parents.unique()

array(['No', 'Yes'], dtype=object)

We observe the following from our dataset:

*   Observation 1
*   Observation 2

In [24]:
# Checking if the "Yes/No" fields contain only these 2 values
# for has_contractor_notified_schools variable
# ---
#
df.has_contractor_notified_schools.unique()

array(['Yes', 'No'], dtype=object)

We observe the following from our dataset:

*   Observation 1
*   Observation 2

In [25]:
# Checking unique values in break_down_or_running_late variable to ensure there is no duplication
# ---
#
df.breakdown_or_running_late.unique()

array(['Running Late', 'Breakdown'], dtype=object)

In [26]:
# Checking unique values in school_age_or_prek variable
# ---
#
df.school_age_or_prek.unique()

array(['School-Age', 'Pre-K'], dtype=object)

In [27]:
# Checking unique values in school_year variable
# ---
#
df.school_year.unique()

array(['2015-2016', '2017-2018', '2018-2019', '2016-2017', '2019-2020'],
      dtype=object)

In [28]:
# Checking unique values in reason variable
# ---
#
df.reason.unique()

array(['Heavy Traffic', 'Flat Tire', 'Other', 'Won`t Start',
       'Mechanical Problem', 'Problem Run', 'Accident',
       'Late return from Field Trip', 'Delayed by School',
       'Weather Conditions', nan], dtype=object)

In [29]:
# Checking unique values in run_type variable
# ---
#
df.run_type.unique()

array(['Special Ed AM Run', 'Pre-K/EI', 'General Ed AM Run',
       'General Ed Field Trip', 'Special Ed PM Run', 'General Ed PM Run',
       'Project Read PM Run', 'Special Ed Field Trip',
       'Project Read AM Run', 'Project Read Field Trip', nan],
      dtype=object)

In [30]:
# Checking unique values in boro variable
# ---
#
df.boro.unique()

array(['New Jersey', 'Manhattan', 'Bronx', 'Westchester', 'Brooklyn',
       'Rockland County', 'Nassau County', nan, 'Queens', 'Staten Island',
       'Connecticut', 'All Boroughs'], dtype=object)

### Overall Data Cleaning Observations
**Missing Values**

- There are a large number of missing values in the fields "How_Long_Delayed" which is important to our analysis.
- There is an extremely large number of missing values in the "Incident_number" field but this is not incidental to our analysis and cannot be filled in without additional information.

**Error in values**

- "How_Long_Delayed" contains string values such as "MINS" or "mins" and a range of values, which needs to be changed to single integer value for our analysis.

**Error in Datatypes**

- "How_Long_Delayed" is a string datatype, should be converted to integer type.

**Error in field names**
- The column name "Boro" should be renamed to "Borough".

### Next Steps: Data Cleaning Steps

**Error in values**

- Extract the first integer value (lowest delay time) in the column "How_Long_Delayed"


**Missing Values**

- Impute the missing values in the field "How_Long_Delayed" with the mean value.


**Error in Datatypes**

- Convert "How_Long_Delayed" to int datatype.



**Error in field names**

- Rename the column "Boro" to "Borough".

In [31]:
# Lets first start by creating a copy of our dataframe
# df_clean = df.copy(). We will use this copy as our cleaning copy.
# ---
#
df_clean = df.copy()
df_clean.head()

,school_year,busbreakdown_id,run_type,bus_no,route_number,reason,schools_serviced,occurred_on,created_on,boro,...,how_long_delayed,number_of_students_on_the_bus,has_contractor_notified_schools,has_contractor_notified_parents,have_you_alerted_opt,informed_on,incident_number,last_updated_on,breakdown_or_running_late,school_age_or_prek
0,2015-2016,1227538,Special Ed AM Run,2621,J711,Heavy Traffic,75003,11/05/2015 08:10:00 AM,11/05/2015 08:12:00 AM,New Jersey,...,NaN,11,Yes,No,Yes,11/05/2015 08:12:00 AM,NaN,11/05/2015 08:12:14 AM,Running Late,School-Age
1,2015-2016,1227539,Special Ed AM Run,1260,M351,Heavy Traffic,06716,11/05/2015 08:10:00 AM,11/05/2015 08:12:00 AM,Manhattan,...,20MNS,2,Yes,Yes,No,11/05/2015 08:12:00 AM,NaN,11/05/2015 08:13:34 AM,Running Late,School-Age
2,2015-2016,1227540,Pre-K/EI,418,3,Heavy Traffic,C445,11/05/2015 08:09:00 AM,11/05/2015 08:13:00 AM,Bronx,...,15MIN,8,Yes,Yes,Yes,11/05/2015 08:13:00 AM,NaN,11/05/2015 08:13:22 AM,Running Late,Pre-K
3,2015-2016,1227541,Special Ed AM Run,4522,M271,Heavy Traffic,02699,11/05/2015 08:12:00 AM,11/05/2015 08:14:00 AM,Manhattan,...,15 MIN,6,No,No,No,11/05/2015 08:14:00 AM,NaN,11/05/2015 08:14:04 AM,Running Late,School-Age
4,2015-2016,1227542,Special Ed AM Run,3124,M373,Heavy Traffic,02116,11/05/2015 08:13:00 AM,11/05/2015 08:14:00 AM,Manhattan,...,NaN,6,No,No,No,11/05/2015 08:14:00 AM,NaN,11/05/2015 08:14:08 AM,Running Late,School-Age

In [34]:
# Then extracting the lowest delay time in the column how_long_delayed from the string
#
df_clean['how_long_delayed'] = df_clean['how_long_delayed'].str.extract('(\d+)')
df_clean['how_long_delayed'].head()

0    NaN
1     20
2     15
3     15
4    NaN
Name: how_long_delayed, dtype: object

We impute the null values in 'how_long_delayed' column with mean of the column. This will take a couple of steps...

In [35]:
# We first convert our how_long_delayed to float type to allow for imputation
# ---
#
df_clean['how_long_delayed'] = df_clean['how_long_delayed'].astype(float)

In [36]:
# Then later perform our mean imputation
# ---
#
df_clean['how_long_delayed'] = df_clean['how_long_delayed'].fillna(df_clean['how_long_delayed'].mean())

In [37]:
# Then convert back our how_long_delayed column to integer datatype
# ---
#
df_clean['how_long_delayed'] = df_clean['how_long_delayed'].astype(int)

In [38]:
# Then check for nulls in the column
# ---
#
df_clean['how_long_delayed'].isnull().sum()

np.int64(0)

In [39]:
# Rename Boro column to Borough
# ---
#
df_clean = df_clean.rename(columns={'boro': 'borough'})

In [40]:
# Lastly we convert all values in our colums to lower case
# for ease of reading
# ---
#
df_clean = df_clean.apply(lambda x: x.str.lower() if x.dtype == "object" else x)

In [41]:
# Check the first 5 record the cleaned dataset
# ---
#
df_clean.head()

,school_year,busbreakdown_id,run_type,bus_no,route_number,reason,schools_serviced,occurred_on,created_on,borough,...,how_long_delayed,number_of_students_on_the_bus,has_contractor_notified_schools,has_contractor_notified_parents,have_you_alerted_opt,informed_on,incident_number,last_updated_on,breakdown_or_running_late,school_age_or_prek
0,2015-2016,1227538,special ed am run,2621,j711,heavy traffic,75003,11/05/2015 08:10:00 am,11/05/2015 08:12:00 am,new jersey,...,28,11,yes,no,yes,11/05/2015 08:12:00 am,NaN,11/05/2015 08:12:14 am,running late,school-age
1,2015-2016,1227539,special ed am run,1260,m351,heavy traffic,06716,11/05/2015 08:10:00 am,11/05/2015 08:12:00 am,manhattan,...,20,2,yes,yes,no,11/05/2015 08:12:00 am,NaN,11/05/2015 08:13:34 am,running late,school-age
2,2015-2016,1227540,pre-k/ei,418,3,heavy traffic,c445,11/05/2015 08:09:00 am,11/05/2015 08:13:00 am,bronx,...,15,8,yes,yes,yes,11/05/2015 08:13:00 am,NaN,11/05/2015 08:13:22 am,running late,pre-k
3,2015-2016,1227541,special ed am run,4522,m271,heavy traffic,02699,11/05/2015 08:12:00 am,11/05/2015 08:14:00 am,manhattan,...,15,6,no,no,no,11/05/2015 08:14:00 am,NaN,11/05/2015 08:14:04 am,running late,school-age
4,2015-2016,1227542,special ed am run,3124,m373,heavy traffic,02116,11/05/2015 08:13:00 am,11/05/2015 08:14:00 am,manhattan,...,28,6,no,no,no,11/05/2015 08:14:00 am,NaN,11/05/2015 08:14:08 am,running late,school-age


## 5. Solution Implementation

Here we investigate the questions that would help craft our recommendations.

### 5.a) Questions

In [52]:
# 1. Which bus companies that had the highest breakdowns?
# ---
#
breakdowns = df_clean.groupby(['bus_company_name']).count()

# Sort to get bus company with highest breakdowns
# ---
# YOUR CODE GOES BELOW
#
df_clean['bus_company_name'].value_counts().head(1)

bus_company_name
g.v.c., ltd.    19394
Name: count, dtype: int64

In [54]:
# 2. What were the top 3 reasons for bus delays?
# ---
#
bus_delay = df_clean.groupby(['reason']).count()[['how_long_delayed']].reset_index()

# Sort to get the most frequent reason
# ---
# YOUR CODE GOES BELOW
#
bus_delay.sort_values(by='how_long_delayed', ascending=False).head(3)

               reason  how_long_delayed
3       heavy traffic            173221
6               other             37579
5  mechanical problem             28162

In [55]:
# 3. How many students were in the buses when they broke down?
# ---
#
df_clean.groupby(['number_of_students_on_the_bus']).count()[['busbreakdown_id']].reset_index()

     number_of_students_on_the_bus  busbreakdown_id
0                                0           170376
1                                1            15704
2                                2            16737
3                                3            14837
4                                4            12248
..                             ...              ...
219                           6209                1
220                           6219                1
221                           8547                1
222                           9007                1
223                           9052                1

[224 rows x 2 columns]

In [57]:
# 4. Which were most frequent reasons for bus breakdowns?
# ---
#
breakdown_reasons = df_clean[df_clean.breakdown_or_running_late == 'breakdown'].groupby(['reason']).count()

# Sort to get most frequent reasons
# ---
# YOUR CODE GOES BELOW
#
breakdown_reasons.sort_values(by='busbreakdown_id', ascending=False)

,school_year,busbreakdown_id,run_type,bus_no,route_number,schools_serviced,occurred_on,created_on,borough,bus_company_name,how_long_delayed,number_of_students_on_the_bus,has_contractor_notified_schools,has_contractor_notified_parents,have_you_alerted_opt,informed_on,incident_number,last_updated_on,breakdown_or_running_late,school_age_or_prek
reason,,,,,,,,,,,,,,,,,,,,
mechanical problem,14985,14985,14985,14985,14985,14985,14985,14985,14475,14985,14985,14985,14985,14985,14985,14985,405,14985,14985,14985
won`t start,7731,7731,7731,7731,7731,7731,7731,7731,7501,7731,7731,7731,7731,7731,7731,7731,114,7731,7731,7731
flat tire,4038,4038,4037,4038,4038,4038,4038,4038,3870,4038,4038,4038,4038,4038,4038,4038,104,4038,4038,4038
other,3530,3530,3530,3530,3530,3530,3530,3530,3428,3530,3530,3530,3530,3530,3530,3530,69,3530,3530,3530
heavy traffic,419,419,419,419,419,419,419,419,392,419,419,419,419,419,419,419,11,419,419,419
accident,202,202,202,202,202,202,202,202,192,202,202,202,202,202,202,202,28,202,202,202
weather conditions,82,82,82,82,82,82,82,82,81,82,82,82,82,82,82,82,1,82,82,82
late return from field trip,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,0,35,35,35
problem run,28,28,28,28,28,28,28,28,25,28,28,28,28,28,28,28,1,28,28,28
delayed by school,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,1,7,7,7

In [62]:
# 5. What were the most frequent reasons for the bus running late?
# ---
#
#reasons = df_clean.groupby(['reason','how_dong_delayed']).count()
running_late_reasons = df_clean[df_clean.breakdown_or_running_late == 'running late'].groupby(['reason']).count()

# Get the records with running late reasons and sort to get most frequent reasons
# ---
# YOUR CODE GOES BELOW
#
running_late_reasons.sort_values(by='busbreakdown_id', ascending=False)
running_late_reasons.sort_values(by='busbreakdown_id', ascending=False).head(1)

,school_year,busbreakdown_id,run_type,bus_no,route_number,schools_serviced,occurred_on,created_on,borough,bus_company_name,how_long_delayed,number_of_students_on_the_bus,has_contractor_notified_schools,has_contractor_notified_parents,have_you_alerted_opt,informed_on,incident_number,last_updated_on,breakdown_or_running_late,school_age_or_prek
reason,,,,,,,,,,,,,,,,,,,,
heavy traffic,172802,172802,172801,172798,172799,172799,172802,172802,163209,172802,172802,172802,172802,172802,172802,172802,6320,172802,172802,172802

In [63]:
# 6. What was the average delay time for each reason type?
# ---
#
avg_delay = df_clean.groupby('reason').mean().reset_index()

# Get the records with reasons and how long on average a delay took then sort
# ---
# YOUR CODE GOES BELOW
#

TypeError: agg function failed [how->mean,dtype->object]

### 5.b) Recommendations

From the above analysis, below are our recommendations:

1.   
2.

## 6. Challenging your Solution

During this step, we review our solution and implement  approaches that could potentially provide a better outcome. In our case, we could propose the following question that wasn't answered in our solution because it couldn't have greatly contributed to our recommendation.

In [ ]:
# Which boroughs experienced the most breakdowns?
# ---
#
breakdowns = df_clean.groupby(['borough']).count()

# Sort to get bus company with highest breakdowns
# ---
# YOUR CODE GOES BELOW
#

Our observations:

1.   
2.  


How does this observation tie to our solution?

## 7. Follow up questions

During this step, you rethink and propose other ways that you can improve your solution.

### a). Did we have the right data?

### b). Do we need other data to answer our question?

You can look into the questions you brainstormed that you weren't taken into account during analysis due to a lack of data. Were those questions important to have been left out  of your analysis?

### c). Did we have the right question?

Were there any other questions that we needed to have answered?